<h3>Add your comment here</h3>
<%= form_for [@article, @comment] do |form| %>
  <ul class="errors">
  <% @comment.errors.full_messages.each do |error_message| %>
    <li><%= error_message =%></li>
  <% end %>
  </ul>
  <div>
    <%= form.label :author_name, "Your name" %>
    <%= form.text_field :author_name %>
  </div>
  <div>
    <%= form.label :body, "Comment" %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%=
      tb_submit_button(
        form,
        "Add comment",
        "comment"
      )
    %>
  </div>
<% end %>
