<%= form_for(@article, html: { multipart: true, class: "tb-article-form" }) do |form| %>
  <h2 class="tb-article-form__header"><%= title %></h2>
  <div class="tb-form-row">
    <%= form.label :title, class: "tb-form-row__label" %>
    <div class="tb-form-row__input-column">
      <%=
        form.text_field(
          :title,
          autocomplete: "off",
          required: true,
          class: "tb-form-row__input-control"
        )
      %>
      <small class="tb-form-row__help-text">
        A good title is one that sparks curiosity
      </small>
    </div>
  </div>
  <div class="tb-form-row">
    <%= form.label :body, class: "tb-form-row__label" %>
    <div class="tb-form-row__input-column">
      <%=
        form.text_area(
          :body,
          required: true,
          class: "tb-form-row__input-control_text-area"
        )
      %>
      <small class="tb-form-row__help-text">
        Use blank lines to separate multiple paragraphs
      </small>
    </div>
  </div>
  <div class="tb-form-row">
    <%= form.label :tag_list, "Tags", class: "tb-form-row__label" %>
    <div class="tb-form-row__input-column">
      <%=
        form.text_field(
          :tag_list,
          autocomplete: "off",
          autocapitalize: "none",
          class: "tb-form-row__input-control"
        )
      %>
      <small class="tb-form-row__help-text">
        Use commas to separate multiple tags
      </small>
    </div>
  </div>
  <div class="tb-form-row">
    <%= form.label :image, class: "tb-form-row__label" %>
    <div class="tb-form-row__input-column">
      <label class="tb-form-row__input-control tb-file">
        <%=
          form.file_field(
            :image,
            accept: @article.image_allowed_types.join(", "),
            class: "tb-file__input"
          )
        %>
        <span class="tb-file__control"><%=
          @article.image_file_name
        %></span>
      </label>
      <small class="tb-form-row__help-text">
        Supported image types: <%= @article.image_allowed_type_names.join(", ") %>
      </small>
    </div>
  </div>
  <%=
    tb_submit_button(
      form,
      "Save article",
      "note",
      extra_class: "tb-article-form__submit"
    )
  %>
<% end %>
