<h1>
  <%= @article.title %>
</h1>

<p>
  <%= @article.body %>
</p>

<p>
  <%= image_tag @article.image.url %>
</p>

<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<div class="comments">
  <h2><%= pluralize(@article.comments.size, "comment") %></h2>
  <%= render partial: "comments/form" %>
  <%= render partial: "articles/comment", collection: @article.comments.reverse %>
</div>

<ul>
  <li>
    <%=
    link_to(
      "Edit this article",
      edit_article_path(@article)
    )
    %>
  </li>
  <li>
    <%=
    link_to(
      "Delete this article",
      article_path(@article),
      method: :delete,
      data: { confirm: "Really, really sure you clicked delete?" }
    )
    %>
  </li>
  <li>
    <%= link_to "All articles", articles_path %>
  </li>
</ul>
