<h2>
  <%= @article.title %>
</h2>

<p>
  <%= @article.body %>
</p>

<% if @article.image.exists? %>
  <p>
    <%= image_tag @article.image.url(:medium) %>
  </p>
<% end %>

<% if @article.tags.any? %>
  <p>
    Tags:
    <% @article.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
    <% end %>
  </p>
<% end %>

<p>Posted <%= ago_in_words(@article.created_at) %></p>

<%= render partial: "comments/form" %>
<div>
  <%=
    render(
      partial: "comments/show",
      collection: @article.comments.reverse,
      as: :comment
    )
  %>
</div>

<ul>
  <li>
    <%=
      tb_link_button(
        "Edit this article",
        edit_article_path(@article),
        "pencil"
      )
    %>
  </li>
  <li>
    <%=
      tb_link_button(
        "Delete this article",
        article_path(@article),
        "x",
        method: :delete,
        data: { confirm: "Really, really sure you clicked delete?" }
      )
    %>
  </li>
</ul>

<div class="tb-footer">
  <%=
    tb_link_button(
      "All articles",
      articles_path,
      "arrow-left"
    )
  %>
</div>
