<h1>
  <%= @article.title %>
</h1>

<p>
  <%= @article.body %>
</p>

<p>
  <% if @article.image.exists? %>
    <%= image_tag @article.image.url(:medium) %>
  <% end %>
</p>

<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<div class="comments">
  <h2><%= pluralize(@article.comments.size, "comment") %></h2>
  <%= render partial: "comments/form" %>
  <%= render partial: "articles/comment", collection: @article.comments.reverse %>
</div>

<ul>
  <li>
    <%=
      tb_link_button(
        "Edit this article",
        edit_article_path(@article),
        "pencil"
      )
    %>
  </li>
  <li>
    <%=
      tb_link_button(
        "Delete this article",
        article_path(@article),
        "x",
        method: :delete,
        data: { confirm: "Really, really sure you clicked delete?" }
      )
    %>
  </li>
  <li>
    <%=
      tb_link_button(
        "All articles",
        articles_path,
        "arrow-left"
      )
    %>
  </li>
</ul>
