<% content_for :title do %>
  <%= @article.title %> - /tmp/blog
<% end %>

<h2 class="tb-application__header">
  <%= @article.title %>
</h2>

<p class="tb-application__byline">
  Posted
  <%= ago_in_words(@article.created_at) %>
  by
  <%= @article.author_name %>
</p>

<div class="tb-article">
  <% @article.body_paragraphs.each do |paragraph| %>
    <p class="tb-article__body"><%= paragraph %></p>
  <% end %>

  <% if @article.image.exists? %>
    <%=
      image_tag(
        @article.image.url(:medium),
        class: "tb-article__image"
      )
    %>
  <% end %>

  <% if @article.tags.any? %>
    <p class="tb-article__tags">
      tags:
      <% @article.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
      <% end %>
    </p>
  <% end %>

  <div class="tb-article__button-group">
    <%=
      tb_link_button(
        "Edit this article",
        edit_article_path(@article),
        "pencil",
        extra_class: "tb-article__button"
      )
    %>
    <%=
      tb_link_button(
        "Delete this article",
        article_path(@article),
        "x",
        method: :delete,
        data: { confirm: "Really, really sure you clicked delete?" },
        extra_class: "tb-article__button"
      )
    %>
  </div>
</div>

<%= render "comments/form", first: @article.comments.empty? %>
<div>
  <%=
    render(
      partial: "comments/show",
      collection: @article.comments_recent_order,
      as: :comment
    )
  %>
</div>

<div class="tb-application__footer">
  <%=
    tb_link_button(
      "All articles",
      articles_path,
      "arrow-left"
    )
  %>
</div>
