<h2 class="tb-application__header">
  <%= pluralize(@tag.tagging.size, "article") %> tagged as "<%= @tag.name %>"
</h2>

<div class="tb-summary-group">
  <% @tag.articles.each do |article| %>
    <%=
      link_to(
        "#{article.title} [ #{article.tag_list} ]",
        article_path(article),
        class: "tb-summary-group__item"
      )
    %>
  <% end %>

  <%=
    tb_link_button(
      "Delete this tag",
      tag_path(@tag),
      "x",
      extra_class: "tb-summary-group__button",
      method: :delete,
      data: { confirm: "Really, really sure you clicked delete?" }
    )
  %>
</div>

<div class="tb-application__footer">
  <%=
    tb_link_button(
      "All tags",
      tags_path,
      "tag"
    )
  %>
</div>
