<h1><%= pluralize(@tag.tagging.size, "article") %> tagged as <%= @tag.name %></h1>

<ul>
<% @tag.articles.each do |article| %>
  <li><%= link_to article.title, article_path(article) %></li>
<% end %>
</ul>

<ul>
  <li>
    <%=
      tb_link_button(
        "Delete this tag",
        tag_path(@tag),
        "x",
        method: :delete,
        data: { confirm: "Really, really sure you clicked delete?" }
      )
    %>
  </li>
  <li>
    <%=
      tb_link_button(
        "All tags",
        tags_path,
        "tag"
      )
    %>
  </li>
</ul>
