<% content_for :title do %>
  [<%= @tag.name %>] - /tmp/blog
<% end %>

<h2 class="tb-application__header">
  <%= pluralize(@tag.tagging.size, "article") %> tagged as "<%= @tag.name %>"
</h2>

<% if @tag.articles.any? %>
  <div class="tb-summary-group">
    <% @tag.articles_recent_order.each do |article| %>
      <%=
        link_to(
          "#{article.title} [ #{article.tag_list} ]",
          article_path(article),
          class: "tb-summary-group__item"
        )
      %>
    <% end %>

    <%=
      tb_link_button(
        "Delete this tag",
        tag_path(@tag),
        "x",
        extra_class: "tb-summary-group__button",
        method: :delete,
        data: { confirm: "Really, really sure you clicked delete?" }
      )
    %>
  </div>
<% else %>
  <div class="tb-empty">
    <%= octicon("pulse", class: "tb-empty__image") %>
    <div class="tb-empty__body">
      <p class="tb-empty__text">
        No articles left tagged as "<%= @tag.name %>".
        Are you ready to delete this tag?
      </p>
      <%=
        tb_link_button(
          "Delete it",
          tag_path(@tag),
          "x",
          extra_class: "tb-empty__button",
          method: :delete
        )
      %>
    </div>
  </div>
<% end %>

<div class="tb-application__footer">
  <%=
    tb_link_button(
      "All tags",
      tags_path,
      "tag"
    )
  %>
</div>
