<!DOCTYPE html>
<html lang="en">
  <head>
    <title>/tmp/blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="tb-application">
    <h1><a href="/">/tmp/blog</a></h1>
    <% if flash.notice %>
      <div class="tb-flash"><%= flash.notice %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
